.card
{
    width: 20%;
    height: 100%;
    border: 3px solid black;
    border-radius: 5%;
    margin-left: 4%;
    margin-top: 3%;
    text-align: center;
    background-color: rgba(194, 170, 155, 0.829);
    float: inline-start;
    box-shadow: 4px 10px 4px black;

}

.Title
{
    font-size: 50px;
    text-align: center;

}

.innerCard 
{
    width: 95%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black ;
    float: center;    

}

.description
{
    color: black;
}

.bold {
    font-weight: bold;
}

.button
{
    font-size: 17px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 3px solid black;
    margin-bottom: 2px;
    background-color: rgb(241, 231, 231);
    cursor: pointer;
}

.button:hover{
    background-color: rgba(93, 39, 11, 0.854);
}

